{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}




<main id="content" role="main">
	<div class="phase-banner">
	    <p>
	      <strong class="phase-tag">ALPHA</strong>
	      <span>This manual is new – speak to design team for further advice, or to get involved</span>
	    </p>
	</div>

<div class="outer-block">
      <div class="inner-block">


        <h1 class="heading-xlarge">
          Design Principles / Ideas
        </h1>
        <h2 class="heading-large">Outcomes wanted</h2>
        <h3 class="heading-small">Improve 3 things</h3>
        <ol>
          <li>Improve data submitted</li>
          <li>Improve ability to update the register automatically </li>
          <li>Improve experience for the caseworker (staff)</li>
        </ol>
<br>
<hr>
<h2 class="heading-large">Design Principles / User needs/desires</h2>
        <ul class="list-bullet">
        <li>Minimal interaction with existing applications and processes - only where we absolutely have to</li>  
        <li>Everything needed to process the application is brought to the user</li>
        <li>Users are legal technicians</li>
        <li>Tools focused on the goal - processing mortgage appication (not a swiss army knife system - yet! or maybe never!)</li>
        <li>Simplify language.  clarity and accuracy of terminololgy</li>
        <li>The register is the atomic unit.  <em>everyone</em> (internal and external) gets the same thing.  no different views for different people.  If the way it is organised/shown doesn't work - change the atomic thing - for everyone.</li>  
        <li>Less is best - strip away everything not needed.  start with too little and add.</li>
        <li>More, interesting work / less admin</li>
        <li>Confidence / trust in the systems.  IT and in what we are asking them to do (process/practice)</li>
        <li>Supported and listened to.  Closer (direct) working relationship with developers.</li>
        </ul>

<hr>
        <h2 class="heading-large">
          UX Principles
        </h2>
        <div class="text">
          <ul>
              <li>What experienced designers thought</li>
              <li>What we learnt from our users and stakeholders</li>
              <li>What we learnt from cross-government</li>
          </ul>
        </div>

        <h3 class="heading-medium">Everything i need - in one place</h3>
          <ul>
              <li>The system gives me what i need to do my job.</li>
              <li>It brings what i need most to the fore, but lets me discover the rest when i need to.</li>
          </ul>

        <h3 class="heading-medium">The system supports me</h3>
          <ul>
              <li>I make legal/skilled decisions.  The system automates the admin work.</li>
              <li>It lets me do things my own way, but always generates consistent results.</li>
          </ul>


        <h3 class="heading-medium">I trust the system</h3>
          <ul>
              <li>I care about the integrity of the register.</li>
              <li>I can rely on the system, and it supports me in our goal.</li>
              <li>It is easy to use and reliable.</li>
          </ul>

<hr>
        <h2 class="heading-large">ideas 'framing' the casework processing part</h2>
        <ul class="list-bullet">
        <li>We are getting mortgage applications from a few, known, lenders</li>
        <li>Number of applications will be small. 1 to 100 per day</li>
        <li>Internal processing team will be small, co-located, and co-located with the service development team - operate, iterate and support the application/service as one team.</li>
        <li>We will be iterating/bug fixing/enhancing on a daily basis</li>
        <li>If the new system/process cannot cope with an application we can run it through the existing systems/processes</li>
        <li>First release could look / operate nothing like later releases (metamorphosis).</li>
        <li>An aim (not the only) of first release is to learn what we can take away - what isn't technical work/legal judgement - to be able to remove that and leave technical skilled work for staff.</li>
        <li>The system (and people) will learn during the running of the beta (see below)</li>
        </ul>
        <h3 class="heading-medium">How is the system going to improve?</h3>
        <p>Mechanism for learning - driven by users<p>

<img src="/public/images/AutoProcessLearning.png" width="1000" alt="Simple improvement">

        


      </div>
    </div>



</main>

{{/content}}

{{/layout}}
