{{<layout}}

{{$pageTitle}}
	Design Manual - Land Registry digital services and applications
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
	<div class="phase-banner">
	    <p>
	      <strong class="phase-tag">ALPHA</strong>
	      <span>This manual is new – speak to design team for further advice, or to get involved</span>
	    </p>
	</div>

	<h1 class="heading-xlarge"><span class="heading-secondary">Design Manual</span>Designer needs</h1>

	<p class="lede">Epics -> In order to .... i want ...</p>

	<h2 class="heading-medium"><span class="heading-secondary">In order to</span>prototype quickly</h2>

		<ul class="list-bullet">
			<li>reusable components - patterns, elements</li>
			<li>prototyping techniques and tools</li>
			<li>protoyping kit</li>
			<li>things i can copy, or get ideas from (what other Gov depts, LR, and industry are do)</li>
		</ul>	

	<h2 class="heading-medium"><span class="heading-secondary">In order to</span>have confidence in my design</h2>
	
		<ul class="list-bullet">
			<li>'proven' components</li>
			<li>design and testing process</li>
			<li>resources i can copy and learn from</li>
			<li>show that what i've made will achieve the design goal/project goals</li>
		</ul>	

	<h2 class="heading-medium"><span class="heading-secondary">In order to</span>become a better designer</h2>
	
		<ul class="list-bullet">
			<li>training/learning material</li>
			<li>people to learn from</li>
			<li>things to copy</li>
			<li>understand what level i am at/skills i have, what is expected of me, and how i can get better</li>
			<li>design crit skills; communication skills; running meetings; ('soft skills')</li>
			<li>improve technical skills (e.g. html, css, scss, javasript, accessibility, etc)</li>
		</ul>	


	<h2 class="heading-medium">Misc...</h2>

		<ul class="list-bullet">
			<li>get up to speed quickly - guides for new designers - GIT, Protokit</li>
			<li>understand the GDS / Land Registry ways (design process)</li>
		</ul>	


	<p>Epics -> As a designer -> As a &lt;type of user&gt; I want &lt;some functionality&gt; so that &lt;some benefit&gt;</p>
	<p>Epics -> In order to &lt;achieve some value&gt; (as a &lt;type of user&gt;) I want &lt;some functionality&gt;</p>



</main>

{{/content}}

{{/layout}}
