{{<layout}}

{{$pageTitle}}
	Design Manual - Land Registry digital services and applications
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
	<div class="phase-banner">
	    <p>
	      <strong class="phase-tag">ALPHA</strong>
	      <span>This manual is new – speak to design team for further advice, or to get involved</span>
	    </p>
	</div>

	<h1 class="heading-xlarge"><span class="heading-secondary">Land Registry</span>Design Manual</h1>

	<p class="lede">Based upon the GDS design manual, this is a manual for making digital services, for both <a href="/index-external">public facing services</a>, and for <a href="/index-internal">internal applications</a> that support them.</p>

	<h2 class="heading-large">Who is this manual for?</h2>
	<p>This manual's primary purpose is to met the <a href="/designer-needs">needs of Designers</a>.</p>

	<h2 class="heading-large">How will it help me?</h2>
	<p>Design better things, more quickly.  Services and applications everyone can have confidence in.</p>
	<p>Confidence that what is made meets a standard - either the GDS Service Standards for public services, or comparable standards for internal applications.  Standards that are not just opinion, but shown to meet user needs/solve problems.</p>

	<h2 class="heading-large">What is in the manual?</h2>
	<p>Currently - 11th November 2012 - very little.  The plan is to, as designers, discuss what we want this manual to achieve, and make it together.</p>

	<p>To do
		<ul  class="list-bullet">
			<li><a href="https://trello.com/b/mRqlxhf4/design-manual" rel="external">Trello board</a> - for designers to add things they'd like the manual to cover - speak to Andy for access.  Make public later</li>
			<li>Once discussed - add these 'needs' and how we might meet them, to this manual</li>
			<li>Write basic intro to <a href="/index-external">external</a> and <a href="/index-internal">internal</a> guides</li>
			<li>update readme</li>
			<li>remove gov.uk style?</li>
		</ul>
	</p>

	<h2 class="heading-large">What services are are we designing?</h2>
	<p><a href="/services">Prototypes of our services and projects</a></p>

	<h2 class="heading-large">About this site</h2>
	<p>This site is based on the gov.uk prototyping kit, <a href="/index-old">kit instructions</a>.  It's currently just a loose set of static pages</p>


</main>

{{/content}}

{{/layout}}
