{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-xlarge"><span class="heading-secondary">Land Registry</span>Design Manual - Internal Applications</h1>

	<p class="lede">Manual for designing the internal parts of new digtial services. For example Admin interfaces and 'casework'</p>

	<p>This internal application manual is based upon the <a href="https://www.gov.uk/design-principles" rel="external">Government Digital Service Design Principles</a> and <a href="https://www.gov.uk/service-manual" rel="external">Service design manual</a>.</p>
	<p>They are the reference for design, and this manual will add specific guidance for our needs.  If no guidance exsitis, follow the GDS principles and advice</p>
	<p>Internal guidance is discovery status.  Contact the designers/ Andy P for more info</p>
	<p>To Do
		<ul class="list-bullet">
			<li>add basic stuff we have already written here (Andy P)</li>
			<li>do some team design/research/writing</li>
			<li>get quickly to alpha v0.1 of this manual</li>
			<li>establish non gov.uk style v quickly on these internal pages</li>
		</ul>
	</p>


</main>

{{/content}}

{{/layout}}
