{{<layout}}

{{$pageTitle}}
	Designing Public Services
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
	<div class="phase-banner">
	    <p>
	      <strong class="phase-tag">ALPHA</strong>
	      <span>This manual is new – speak to design team for further advice</span>
	    </p>
	</div>

	<h1 class="heading-xlarge"><span class="heading-secondary">Land Registry</span>Design Manual - Public Services</h1>

	<p class="lede">Follow the <a href="https://www.gov.uk/design-principles" rel="external">Government Digital Service Design Principles</a> as laid out in the <a href="https://www.gov.uk/service-manual" rel="external">Service design manual</a></p>

	<h2 class="heading-large">Styling services</h2>

	<p>To style services, the <a href="http://lr-style-guide.herokuapp.com/">Land Registry Style Guide</a> contains styles we needed in addition to gov.uk <a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/index.html" rel="external">patterns</a> and <a href="https://www.gov.uk/service-manual/user-centred-design/resources/elements" rel="external">elements</a></p>

	<h3 class="heading-medium">Additional style resources</h3>

	<h4 class="heading-small">other departments styles</h4>
	<ul class="list-bullet">
		<li><a href="http://rural-payments-styleguide.herokuapp.com/" rel="external">Rural Payments</a></li>
		<li><a href="http://dvladesign.herokuapp.com" rel="external">DVLA</a></li>
	</ul>

	<h4 class="heading-small">Advice and discussion</h4>
	<ul>
		<li>Hackpad</li>
		<li>Design group</li>
	</ul>	


</main>

{{/content}}

{{/layout}}
