{{<layout}}

{{$pageTitle}}
	Design Manual - Land Registry digital services and applications
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
	<div class="phase-banner">
	    <p>
	      <strong class="phase-tag">ALPHA</strong>
	      <span>This manual is new – speak to design team for further advice</span>
	    </p>
	</div>

	<h1 class="heading-xlarge"><span class="heading-secondary">Land Registry</span>Design Manual</h1>

	<p class="lede">Based upon the GDS design manual, this is a manual for making digital services, for both public facing services, and for internal applications that support them.</p>

	<p>Started, 9th Nov 2015. Very little here yet :) </p>
	<p>To do
		<ul  class="list-bullet">
			<li>write basic intro to <a href="/index-external">external</a> and <a href="/index-internal">internal</a> guides</li>
			<li>update readme</li>
			<li>remove gov.uk style</li>
		</ul>
	</p>


	<p>Based on the gov.uk prototyping kit, <a href="/index-old">kit instructions</a></p>


</main>

{{/content}}

{{/layout}}
