{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
	<div class="phase-banner">
	    <p>
	      <strong class="phase-tag">ALPHA</strong>
	      <span>This manual is new – speak to design team for further advice, or to get involved</span>
	    </p>
	</div>

	<h1 class="heading-xlarge"><span class="heading-secondary">Land Registry</span>Projects</h1>

<!-- 	<p class="lede"></p> -->

	<table>
	  <thead>
	    <tr>
	      <th scope="col">Service/Project</th>
	      <th scope="col">Phase</th>
	      <th scope="col">Prototype</th>
	      <th scope="col">Github repo</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td>Digital Register View</td>
	      <td>private -> public Beta</td>
	      <td><a href="https://drv-ux-prototype.herokuapp.com" rel="external">drv-ux-prototype.herokuapp.com</a><br><a href="http://property-register-prototype.herokuapp.com/" rel="external">property-register-prototype.herokuapp.com</a></td>

	      <td><a href="https://github.com/LandRegistry/drv-ux-prototypes">github.com/LandRegistry/drv-ux-prototypes</a><br><a href="https://github.com/LandRegistry/property-page-html-prototypes"  rel="external">github.com/LandRegistry/property-page-html-prototypes</a></td>
	    </tr>
	    <tr>
	      <td>Digital Mortgage</td>
	      <td>alpha -> private beta</td>
	      <td>2 protos ( volatile and steady)<br>
	      <a href="https://charges-prototype.herokuapp.com" rel="external">charges-prototype.herokuapp.com</a><br>
	      <a href="https://charges-prototype-ci.herokuapp.com" rel="external">charges-prototype-ci.herokuapp.com</a></td>
	      <td><a href="https://github.com/LandRegistry/charges-html-prototypes"  rel="external">github.com/LandRegistry/charges-html-prototypes</a></td>
	    </tr>
	    <tr>
	      <td>Digital Mortgage Processing<br>
	      	('casework')</td>
	      <td>alpha -> private beta</td>
	      <td>2 protos being merged into one<br>
	      <a href="http://casework-prototype.herokuapp.com" rel="external">casework-prototype.herokuapp.com</a><br>
	      <a href="https://lr-casework-prototype.herokuapp.com" rel="external">lr-casework-prototype.herokuapp.com</a></td>

	      <td>to be added</td>
	    </tr>
	   	<tr>
	      <td>Land Charges</td>
	      <td>alpha</td>
	      <td>
	      <a href="https://lr-landcharges.herokuapp.com" rel="external">lr-landcharges.herokuapp.com</a></td>

	      <td><a href="https://github.com/LandRegistry/lc-prototype">github.com/LandRegistry/lc-prototype</a></td>
	    </tr>
	 	<tr>
	      <td>Data publication platform</td>
	      <td>alpha</td>
	      <td>
	      <a href="http://data-publication-platform.herokuapp.com" rel="external">data-publication-platform.herokuapp.com</a></td>
	      <td>
	      <a href="https://github.com/LandRegistry/data-publication-platform" rel="external">github.com/LandRegistry/data-publication-platform</a></td>
	    </tr>
	   	<tr>
	      <td>Overseas dataset; Akuma; Migration; Workflow; Style Guide; Design Manual; Exemplar stuff; Hack day readable register;</td>
	      <td></td>
	      <td></td>
	      <td></td>
	    </tr>
	  </tbody>
	</table>




</main>

{{/content}}

{{/layout}}
